.project{
    background-color: black;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.gui {
    /* width: 30vw; */
    /* padding: 30px; */
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    /* border: 2px solid aqua; */

}
.gui a{
    color: white;
    text-decoration: none;
}
.gui a:hover{
    color: aqua;
}
.screenshot img{
    /* padding: 10px; */
    border: 2px solid aqua;
    border-radius: 10px;
    width: 80%;

}
